// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$negro: #333333;
$gris: #676767;
$girs_claro:#bcc1ba;
$marron:#534b52;
$verde:#7d9d84;
$verde_claro: #e7f0e7;
$paleta1:#edede9;
$paleta2:#d6ccc2;
$paleta3:#f5ebe0;
$paleta4:#e3d5ca;
$paleta5:#d5bdaf;
$tierra:#7f6e68;
