.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $verde;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(88, 112, 93);
  color: white;
}

.btn-rounded {
  color: rgb(88, 112, 93);
  border: 2px solid rgb(88, 112, 93);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-rounded:hover {
  opacity: 1;
  background-color: $verde;
  color: white;
}
