.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $verde;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(88, 112, 93);
  color: white;
}
